@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.navbar {
    background-color:#0b345a;
    overflow: hidden;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .options {
    display: flex;
    align-items: center;
  }
  
  .options a {
    color: #bbdefb; /* Lighter blue */
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .options a:hover {
    background-color:#0b345a;
  }
  