.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #0b345a;
  color: #bbdefb;
  font-size: 16px;
  cursor: pointer;
  border: none;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0b345a;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 16px; /* Add some space below the button */
}

.dropdown-content a {
  color: #bbdefb;
  padding: 12px 16px;
  text-decoration: none;
  display: none;
  font-family: 'Poppins', sans-serif;
}

.dropbtn:hover {
  background-color: #bbdefb;
  color: #0b345a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  font-family: 'Poppins', sans-serif;
}
